<header>
  <h2 class="logo">NerdSquad</h2>
  <div class="toggle"></div>
  <nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
</header>
