body {
  font-family: 'Hind', sans-serif;
  line-height: 1.5;
  overflow: hidden;  
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

  /**********/
 /* HEADER */
/**********/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('../images/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;  
}

.toggle.active {
  background: url('../images/close.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

  /*******/
 /* NAV */
/*******/

.menu {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  z-index: 10;
  transform: translateX(200px);
  transition: 200ms ease-in-out;
}

.menu.active {
  transform: translateX(0);  
}

.menu ul {
  position: relative;
}

.menu ul li {
  padding-top: 10px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #111;
}

.menu ul li a:hover {
  color: rgb(196, 109, 109);
}

  /****************/
 /* HERO SECTION */
/****************/

.hero {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  z-index: 2;
  transition: 300ms;
}

.hero .toggle {
  filter: invert(1);
}

.hero .menu ul li a {
  color: #fff;
}

.hero .menu ul li a:hover {
  color: rgb(196, 109, 109);
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.411);
}

.text {
  position: relative;
  z-index: 100;
  line-height: 1;
}

.text h2 {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1rem;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  line-height: 1.5;
}

.text a {
  display: inline-block;
  font-size: 1rem;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 200ms;
}

.text a:hover {
  transform: scale(1.2);  
}

.socials  {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 500ms;
}

.socials li a:hover {
  transform: scale(0.6) translateY(-20px);
}

.container-404 {
  height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

  /************/
 /* 404 Page */
/************/

.text-404 {
  max-width: 40ch;
}

.text-404 h2 {
  font-size: 3rem;
}

.text-404 h3 {
  font-size: 2rem;
}

.text-404 p {
  margin-top: 15px;
}

.img-404 img {
  
  width: 350px;
}

  /******************/
 /* Subscribe Form */
/******************/

.regFormBody {
  background: url('/public/images/food-backgound.png');
}

.regForm {
  display: flex;
  justify-content: center;
}

#fs-frm {
  display: flex;
  flex-direction: column;
  max-width: 90ch;
  max-height: 90%;
  padding: 1rem;
  margin-top: 4rem;

  background: #fff;
}

#fs-frm-inputs {
  padding: 1rem;
}

#fs-frm-inputs input, .comm {
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  border: .5px solid gray;
}

.button-like {
  padding: 1rem;
  border: .5px solid gray;
}

.button-like:hover, .button-like:active {
  cursor: pointer;
}

.med {
  max-width: 50%;
}

.short {
  max-width: 20%;
}

.comm {
  resize: none;
}

.regButton {
  width: 50%;
  padding: 1rem;

  text-align: center;
  align-self: center;
}

.regButton:hover, .regButton:active {
  cursor: pointer;
  background-color: darkgray;
}

  /*****************/
 /* Media Queries */
/*****************/

@media screen and (max-width: 768px) {
  header {
    padding: 40px 20px;
  }
}