<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <Main>
     
  </Main>
  <!-- Template for Dynamic Image Gallery -->
  <template id="image-template">
    <figure>
      <a href=""><img src="" alt=""></a>
      <a href="">
        <figcaption>
          <h5></h5>
          <p></p>
          
        </figcaption>
    </a>
    </figure>
  </template>
  <!-- Footer Partial-->
  <%- include('../partials/footer') %>
</body>

</html>