<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header') %>
  <Main>
    <h1>subscribe page</h1>
  </Main>

  <!-- Footer Partial-->
  <%- include('../partials/footer') %>
</body>

</html>