<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header') %>

  <Main>
    <section class="team-wrapper">

    </section>
  </Main>
   <!-- Template for Dynamic Team page -->
   <template id="team-template">
    <article class="team-cards">
      <span class="name"></span>
      <img src="" alt=""/>
      <span class="title"></span>
      <p class="bio"></p>
    </article>
  </template>
  <!-- Footer Partial-->
  <%- include('../partials/footer') %>
</body>

</html>